@using TaskManager.Models
@model TaskManager.Models.Task
@{
    var data = ViewData["Data"];
}

<div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Table</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Header</th>
                                                <th>Date</th>
                                                <th>Priority</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                    @foreach(var item in data as IEnumerable<TaskManager.Models.Task>)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.header</td>
                                            <td>@item.taskDate</td>
                                            <td>@item.priority</td>
                                            <td>@item.status</td>
                                        </tr>
                                    }
                                </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Header</th>
                                                <th>Date</th>
                                                <th>Priority</th>
                                                <th>Status</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>

@section Scripts {
    <script src="~/themes/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/themes/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/themes/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
}

@section Titles{
    <link href="~/themes/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
}